label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px;
  padding: 40px 40px;
}

.card-container1.card {
  max-width: 550px;
  padding: 40px 40px;
}

.card-container2.card {
  max-width: 550px;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

body, input, textarea, button, select,h1,h2,h3,h4 {
  color: #000;
  font-family: "Playfair Display",serif;
  font-style: normal;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
